
<div class="app" style="text-align: center; padding: 50px;">
    <h1>ToDo List</h1>

</div>

<router-outlet></router-outlet>

<div class="quote" style="padding-top: 100px;">
  <figure class="text-center">
      <blockquote class="blockquote">
        <p>You can never understand everything. <br> But, you should push yourself to understand the system.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Ryan Dahl <cite title="Source Title">(Creator of Node JS)</cite>
      </figcaption>
  </figure>
</div>  