<img src="../../assets/mobile-app.png" alt="" style="float: left;width: 30%;">
            <div class="card" data-aos="fade-down">
                <div class="card-body">
                    <div class="todo">
	                    <form (submit)="addTodo()">
                            <div class="form-group">
                            <div class="input-group input-group-lg">
		                    <textarea
			                    type="text"
			                    name="inputTodo"
			                    placeholder="Enter todo..."
			                    class="todo-input form-control"
			                    [(ngModel)]="inputTodo"
		                    ></textarea>
                            </div><br>
		                    <button type="submit" value="Add Todo" class="todo-submit btn btn btn-success" >CREATE</button>
                        </div>
	                    </form><br>
	                        <div *ngFor="let todo of todo; let i = index;" class="todo {{ (todo.completed ? 'done' : '') }}">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
		                        <div class="id">{{ i }}</div>
		                        <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
                            </div>
		                        <button class="delete btn btn btn-danger" (click)="deleteTodo(i)">DELETE</button>
                                <button class="update btn btn-dark" (click)="updateTodo(i)" style="margin-left: 20px;">UPDATE</button>
	                        </div>
                    </div>
                </div>
            </div>
